@media only screen and (max-width: 767px) {
    h1, p, span {
        font-size: 18px !important;
    }

    .row {
        flex-direction: column !important;
    }

    .card {
        width: 80% !important;
        margin: auto;
    }
}

/***************** Shared *****************/

.selected-nav-tab {
    opacity: 1.0;
}

.nav-tab {
    opacity: 0.60;
}

#nav span:hover {
    cursor: pointer;
}

body {
    background-color: #111116;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: white;
    height: 100%;
    width: 100%;
}

h1, p, span {
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
}

h1 {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 300;
}

p {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 200;
}

#icons {
    position: fixed;
    width: 20%;
    top: 10px;
    right: 10px;
}

#icons span {
    float: right;
    margin: 10px;
}

#li-button, #gh-button, .project-button {
    color: #ffffff;
}

#li-button:hover {
    color: #0073b1;
}

#gh-button:hover, .fa-github:hover {
    color: #9d27b0;
}

.fa-external-link:hover {
    color: rgb(0, 0, 255);
}

/***************** Home Page *****************/

#nav {
    display: flex;
    flex-basis: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 30%;
    margin-left: 30%;
    justify-content: center;
}

#nav span {
    margin-right: 25px;
}

#console-name {
    margin-bottom: 5%;
    font-size: 25px;
}

#i-am {
    color: #ff9d00;
}

#main-content {
    width: 100%;
    height: 100%;
    text-align: center;
}

/***************** Project Page *****************/
#project-content {
    width: 100%;
    height: 100%;
    display: none;
}

.project-title {
    position: absolute;
    width: 100%;
    top: 5%;
    left: 50%;
    right: 50%;
    z-index: 100;
    transform: translate(-50%, 0%);
    font-size: large;
    height: 30%;
}

.project-links {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;
}

.card img {
    height: 100%;
    width: 100%;
    border: 1px solid #ffffff;
    opacity: 0.20;
}

.description {
    position: absolute;
    width: 100%;
    height: 35%;
    font-size: small;
    font-weight: 400;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-button:hover {
    cursor: pointer;
}

.card {
    position: relative;
    width: 40%;
}
